<h1>Liste des clients</h1>
<div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="Client in listeClients">
                <td>{{Client.nom}}</td>
                <td>{{Client.prenom}}</td>
                <td>{{Client.email}}</td>
                <td>{{Client.telephone}}</td>
                <td><a href='' ng-click="showClient(Client.customer_id)">Voir</a></td>
            </tr>
        </tbody>
    </table>
    
    <form ng-submit="addClient()" name="formAddClient">
        <div class="col-md-3"><input type="text" name="addNom" class="form-control" ng-model="client.nom" placeholder="Nom" required></div>

        <div class="col-md-3"><input type="text" name="addPrenom" class="form-control" ng-model="client.prenom" placeholder="Prenom" required></div>

        <div class="col-md-3"><input type="text" name="addEmail" class="form-control" ng-model="client.email" placeholder="Email" required></div>

        <div class="col-md-3"><input type="text" name="addTel" class="form-control" ng-model="client.telephone" placeholder="Telephone" required></div><br /><br />

        <div class="col-md-12 text-center"><input type="submit" value="Ajouter le client" class="btn">
    </form>

</div>
