<h1>Login</h1>
<div>
    <form method="post" ng-submit="login()" name="loginForm" class="ng-pristine ng-invalid ng-invalid-required" style="">
        <div class="form-group has-feedback">
            <input class="form-control input-lg ng-pristine ng-invalid ng-invalid-required ng-touched" type="text" name="email" ng-model="user.usename" placeholder="Usename" required="" autofocus="" aria-invalid="true" style="">
            <span class="ion-at form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input class="form-control input-lg ng-pristine ng-untouched ng-invalid ng-invalid-required" type="password" name="password" ng-model="user.password" placeholder="Mot de passe" required="" aria-invalid="true" style="">
            <span class="ion-key form-control-feedback"></span>
        </div>
        <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success" disabled="disabled">Connexion</button>
    </form>
</div>
