<h1>Page client</h1>
<div>
    <h2>Infos clients</h2>



    <div class="col-md-12">
        <form ng-submit="editClient()" name="formEditClient" ng-if='showEdit' class="col-md-6">
            <label>Nom : </label></br>
            <input type="text" name="titreMusique" class="form-control" id="titreMusique" ng-model="client.nom" required><br>

            <label>Prénom : </label></br>
            <input type="text" name="titreMusique" class="form-control"  ng-model="client.prenom" required><br>

            <label>Email :</label></br>
            <input type="text" name="titreMusique" class="form-control"  ng-model="client.email" required><br>

            <label>Téléphone :</label></br>
            <input type="text" name="titreMusique" class="form-control"  ng-model="client.telephone" required><br>

            <input  type="submit" value="Modifier le client" class="btn ">
        </form>

        <div ng-if='!showEdit'>
            <p><b>Nom : </b>{{client.nom}} </p>
            <p ><b>Prénom : </b>{{client.prenom}}</p>
            <p ><b>Email : </b>{{client.email}}</p>
            <p ><b>Téléphone : </b>{{client.telephone}}</p>
        </div>

        <button type="button" class="btn " ng-show='!showEdit' ng-click="showEdit = !showEdit" >Editer</button>

    </div>

    <br />

    <div ng-if="client.assuranceVie == true">
        Le client possède une assurance vie : <button type="button" class="btn btn-danger" ng-click="toggleAssu('Vie')">Résilier</button>
    </div>
    <div ng-if="client.assuranceVie == false">
        Vendre une assurance vie au client : <button type="button" class="btn btn-success" ng-click="toggleAssu('Vie')">Ajouter</button>
    </div>


    <div ng-if="client.assuranceDeces == true">
        Le client possède une assurance décès : <button type="button" class="btn btn-danger" ng-click="toggleAssu('Décès')">Résilier</button>
    </div>
    <div ng-if="client.assuranceDeces == false">
        Vendre une assurance vie au décès : <button type="button" class="btn btn-success" ng-click="toggleAssu('Décès')">Ajouter</button>
    </div>


    <br />
    <h2>Liste des assurances Voiture</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Modèle</th>
                <th>Immatriculation</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="car in client.listCars">
                <td>{{car.modele}}</td>
                <td>{{car.immatriculation}}</td>
                <td><a href='' ng-click="deleteCar(car.car_id)"><i class='glyphicon glyphicon-trash'></i></a></td>
            </tr>
        </tbody>
    </table>
    
    <form ng-submit="addCar()" name="formAddCar">
        <div class="col-md-5"><input type="text" class="form-control" ng-model="client.addCarName" placeholder="Nom" required></div>

        <div class="col-md-5"><input type="text" class="form-control" ng-model="client.addCarImmat" placeholder="Immatriculation" required></div>

        <div class="col-md-2 text-center"><input type="submit" value="Ajouter la voiture" class="btn">
    </form>
</div>
